doctype html
html(lang="en")
    body#page--error
        #error.app--error
            h1 Sorry - An Error Occurred 
            // style.
            //   h1 {
            //   color: #b30000;
            //   background: "cadetblue"
            //   }
            h2 #{message}
            img(src='/static/images/castle-red-door.jpg' width='50%' height='50%')
        #message.app--error--message
            h2.app--error--message Try again later.


        